/*
  INDIVIDUAL ELEMENTS
 */


body {
  font-family: 'Open Sans Variable', sans-serif;
}

a {
  @apply text-purple-700 font-bold
}
dd {
  @apply text-lg font-semibold;
}
dl {
  @apply max-w-md text-gray-900 divide-y divide-gray-200 dark:text-white dark:divide-gray-700 my-2;
}
dt {
  @apply mb-1 text-gray-500 md:text-lg dark:text-gray-400;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins Variable", sans-serif;
  @apply mb-8 font-bold;
}
h1 {
  @apply text-5xl;
}
h2 {
  @apply text-4xl;
}
h3 {
  @apply text-3xl;
}
h4 {
  font-family: 'Playfair Variable', serif;
  @apply text-2xl;
}
h5 {
  @apply text-xl;
}

hr {
  @apply h-1 my-8 bg-gray-200 max-w-80 border-0 md:max-w-full;
}

b,
strong {
  @apply font-bold;
}

img {
  @apply block max-w-80 h-auto box-border;
}

ol {
  @apply list-disc;
}

ol,
ul {
  @apply ml-8 my-4;
}

p {
  @apply my-4;
}
pre {
  @apply my-2 overflow-x-scroll max-w-80 md:max-w-full;
}

table {
  @apply table table-auto w-full overflow-scroll;
}
th {
  @apply bg-slate-700  py-2;
}
td {
  @apply border-y py-2;
}
tr {
  @apply odd:bg-slate-600;
}

ul {
  @apply list-decimal;
}

code {
  padding: 2px 5px;
  border-radius: 2px;
}
pre {
  padding: 1.5em;
  border-radius: 8px;
}
pre > code {
  all: unset;
}
blockquote {
  padding: 0 0 0 20px;
  margin: 0px;
  font-size: 1.333em;
}
hr {
  border: none;
}

/*CLASSES*/

.contains-task-list {
  @apply list-none;
}

.glassmorph {
  @apply bg-white/60 backdrop-blur-sm rounded-xl shadow-lg p-4
}

@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

dialog {
  /* dialog styles */

  /* Initially invisible */
  opacity: 0;
}

dialog[open] {
  /* Apply animation properties to the open dialog */
  opacity: 1;
  animation: fade-in 0.5s ease-in-out;
}

dialog::backdrop {
  /* Styles for the backdrop */
}

dialog[open]::backdrop {
  /* Apply animation properties to the open backdrop */
  opacity: 1;
  animation: fade-in 0.5s ease-in-out;
}