@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui";
@custom-variant dark (&:where(.dark, .dark *));
#all {
  background-color: #e5e5f7;
  opacity: 0.8;
  background-image: radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
  background-size: 10px 10px;
}
.dark #all {
  background-color: #04046b;
  opacity: 0.8;
  background-image: radial-gradient(#444cf7 0.5px, #04046b 0.5px);
  background-size: 10px 10px;
  color: #FFF
}
