---
import { getCollection } from "astro:content";
import Layout from "@/layouts/default.astro";

/**
 * Get all post in english which slug match with URL one
 */
export async function getStaticPaths() {
  // Getting all posts in english
  const Posts = await getCollection("projects");
  // Finding the post using the Astro documented way
  return Posts.map((post: any) => ({
    params: { slug: post.slug },
    props: post,
  }));
}

const post = Astro.props;
const { Content } = await (post as any).render();
---

<Layout {...post.data}>
  <nav class="glassmorph flex gap-2 items-center mb-4 p-4 w-full">
    <a href="/">
      <svg
        class="w-3 h-3 me-2.5"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="currentColor"
        viewBox="0 0 20 20"
      >
        <path
          d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z"
        ></path>
      </svg>
    </a>
    <img src="/svgs/arrow_right.svg" alt="" class="w-2" />
    <a href="/projects">Projects</a>
    <img src="/svgs/arrow_right.svg" alt="" class="w-2" />
    <span>{post.data.title}</span>
  </nav>
  <div class="glassmorph p-4 w-full">
    <Content />
  </div>
</Layout>
