---
import Layout from "../../layouts/default.astro"
const {post} = Astro.props;

const { Content } = await post.render();

---
    
<Layout {...post.data}>
	<div class="bg-gradient-to-r from-cyan-300 to-indigo-800 p-1 flex relative md:w-2/3 mx-auto rounded-md w-full">
		<article class="container bg-sky-100 dark:bg-slate-900 p-4 rounded-md">
			<Content />
		</article>
	</div>
</Layout>