---
import Layout from "../layouts/default.astro";

---

<Layout
  title="Page not found"
  description="Oh oh, this page have not found"
  publication_date={new Date()}
  index={false}
  language="en"
>
  <div
    class="bg-gradient-to-r from-cyan-300 to-indigo-800 p-1 flex relative md:w-2/3 mx-auto rounded-md w-full"
  >
    <article class="container bg-sky-100 dark:bg-slate-900 p-4 rounded-xl">
      <p>PAGE NOT FOUND</p>
    </article>
  </div>
</Layout>
