---
import Layout from "../layouts/default.astro";

---

<Layout
  title="Page not found"
  description="Oh oh, this page have not found"
  pubDate={new Date()}
  index={false}
>
  <div
    class="glassmorph p-1 flex flex-col relative md:w-2/3 mx-auto rounded-md w-full"
    >
    <p>PAGE NOT FOUND</p>
    
  </div>
</Layout>
