---
import Layout from "../layouts/default.astro";
---

<Layout
  title="Page not found"
  description="Oh oh, this page have not found"
  pubDate={new Date()}
  index={false}
>
  <div
    class="glassmorph p-1 flex flex-col relative md:w-2/3 mx-auto rounded-md w-full"
  >
    <p>PAGE NOT FOUND</p>
    <iframe
      src="https://giphy.com/embed/CoND5j6Bn1QZUgm1xX"
      width="480"
      height="480"
      style=""
      class="giphy-embed"
      ></iframe><p>
      <a href="https://giphy.com/gifs/crab-pikaole-crabby-CoND5j6Bn1QZUgm1xX"
        >via GIPHY</a>
    </p>
  </div>
</Layout>
