---
import SmartLink from "@/components/react/SmartLink";
import Layout from "@/layouts/default.astro";
import { DB_SocialMedia } from "@/db/DB_SocialMedia";
import type { ISocialMedia } from "@/interfaces/ISocialMedia";
---

<Layout
  title="Fernando López de Lerma Portfolio"
  description="Lorem ipsum dolor sit amet"
  pubDate={new Date()}
  index={true}
>


  <h2 class="text-center w-full">My Social media links</h2>
  <div
    class="flex flex-col flex-wrap gap-4 justify-around md:flex-row md:w-2/3 mx-auto w-full"
  >
    {
      DB_SocialMedia.map((link: ISocialMedia) => (
        <article class="glassmorph rounded-md md:w-1/4 md:h-56 w-full">
          <SmartLink  {...link} client:load />
        </article>
      ))
    }
  </div>

</Layout>
