---
---
<div class="container mx-auto flex flex-col">
    <section class="p-4">
        <a href="/" class="no-print text-blue-600 underline"> &nlt; Back to Home</a>
    </section>



</div>

<style>
    @print{
        .no-print{
            display:none;
        }
    }
</style>
