---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;

// check if is home for active the home
let isActive = pathname.length === 1
// if is not home, set the appropiate link
if((href as string).length > 1){
	isActive = pathname.includes(href as string)
}
---

<a href={href} class="text-white" class:list={[className, { "bg-gradient-to-t from-indigo-600 to-violet-400 shadow-lg": isActive }]}  {...props} >
	<slot />
</a>