---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname
---

<a href={href} class="text-white" class:list={[className, { "bg-gradient-to-t from-cyan-300 to-indigo-800 shadow-lg": isActive }]}  {...props} >
	<slot />
</a>