---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname
---

<a href={href} class="text-white" class:list={[className, { "font-bold text-indigo-800": isActive }]}  {...props} >
	<slot />
</a>